body {
  padding: 1% 1%;
  margin: 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 0;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "logo notice-button notice-button"
    "slider slider slider"
    "slider slider slider"
    "slider slider slider"
    "currency oil-prices weather-forecast"
    "currency oil-prices weather-forecast"
    "currency oil-prices weather-forecast";
  gap: 1%;
}

.modal-container {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  margin: 5% auto;
  width: 60%;
  height: 80%;
}

.logo {
  grid-area: logo;
}

.logo__cnpc {
  height: 10vh;
}

.notice-button {
  grid-area: notice-button;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}

.notice-button__btn {
  padding: 30px;
  background-color: rgb(255, 98, 0);
  border: none;
  color: white;
  font-size: 1.3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.social-media {
  display: flex;
  gap: 30px;
}

.social-media img {
  height: 60px;
}

.slider {
  grid-area: slider;
  background-color: grey;
}

.slider__video {
  height: 40vh;
  align-self: center;
}

.video-container {
  display: flex;
  justify-content: center;
  background-image: url(../media/video-bg.jpg);
  /* background-color: rgb(238, 238, 238); */
}

.currency {
  grid-area: currency;
  background-color: rgb(214, 231, 255);
  padding: 3.5vh 2.8vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: rgb(202, 71, 0);
  font-size: 1vw;
  font-weight: bold;
}

#currency-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.oil-prices {
  grid-area: oil-prices;
}

.weather-forecast {
  grid-area: weather-forecast;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.weather-unit {
  width: 33%;
  height: fit-content;
}

/* SLIDER */

/* Slideshow container */
.slideshow-container {
  /* max-width: 100vw; */
  position: relative;
  margin: auto;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 40px;
  height: 97px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: flex;
  align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dots {
  position: absolute;
  top: 53vh;
  left: 50%;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider__img {
  height: 40vh;
  width: 100%;
  background-size: cover;
}

#photo-1 {
  background-image: url(../media/photo1.jpg);
  background-position: 50% 65%;
}

#photo-2 {
  background-image: url(../media/photo-2.jpg);
}
/* SLIDER */

/* CURRENCY */
.currency-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.8vw;
  background-color: rgb(236, 246, 255);
  border-radius: 10px;
  width: 13vw;
  padding: 20px;
  font-weight: 500;
  color: rgb(0, 3, 68);
}

.curr-val-img {
  display: inherit;
  gap: 10px;
}

.curr-val-img img {
  height: 2vh;
}

.curr-logo {
  display: inherit;
  gap: 15px;
  align-self: right;
}

.curr-logo img {
  height: 1.2vh;
}

.currency-item img {
  align-self: center;
}

.currency-change {
  color: rgb(207, 91, 3);
}
/* CURRENCY */

/* LOCAL TIME */
.times {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.time {
  border: 3px solid orangered;
}
/* LOCAL TIME */
