p {
  line-height: 5px;
}

.wrapper {
    height: 100vh;
    width: 75vw;
    margin: 0.5vh auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .modal-container {
    position: fixed;
    display: none;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal {
    margin: 2% auto;
    width: 60%;
    height: 85%;
  }

  .logo-cnpc {
    width: 25vw;
    margin-right: 60px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }

  .city-times {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
  }

  .city-time {
    border: 3px solid orangered;
    padding-right: 9px;
    padding-bottom: 3px;
  }

  .city-time a {
    font-size: 16px;
    font-weight: 600;
  }
  
  .notice-button__btn {
    padding: 6px 15px;
    background-color: rgb(255, 98, 0);
    border: none;
    color: white;
    font-size: 1.1vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .add-notice-icon {
    width: 40px;
    position: absolute;
    top: 8vh;
    left: 80vw;
  }
  
  .social-media {
    display: flex;
    justify-content: space-between;
  }
  
  .social-media img {
    height: 20px;
  }

  .slider {
    height: 42vh;
  }

  /* SLIDER */
  .slideshow-container {
    position: relative;
    height: 100%;
    display: flex;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .weatherSlide {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  
  .dots {
    position: absolute;
    top: 54vh;
    left: 48vw;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .slider__img {
    height: 100%;
    width: 75vw;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 42vh;
    background-image: url(../media/video.jpg);
    background-size: cover;
  }

.video-btn {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 51, 51);
  color: #fff;
  display: block;
  border: none;
  font-weight: 600;
}
  
  .slider__video {
    height: 42vh;
    display: none;
  }
  /* SLIDER */

  .stat-item {
    width: 23vw;
  }

  /* CURRENCY */
.currency {
    background-color: rgb(214, 231, 255);
    padding: 1.2vw;
    display: flex;
    flex-direction: column;
    color: rgb(202, 71, 0);
    font-size: 1vw;
    font-weight: bold;
    line-height: 14px;
}

.base {
  color: rgb(200, 0, 0);
  text-align: center;
}

.to-kzt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.to-cny {
  display: flex;
  gap: 10px;
}

.currency-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.73vw;
    background-color: rgb(236, 246, 255);
    border-radius: 10px;
    padding: 5px 12px;
    width: 118px;
    font-weight: 500;
    color: rgb(0, 3, 68);
  }
  
  .curr-val-img {
    display: inherit;
    gap: 10px;
  }
  
  .curr-val-img img {
    height: 2vh;
  }
  
  .curr-logo {
    display: inherit;
    gap: 5px;
    align-self: right;
  }
  
  .curr-logo img {
    height: 1.2vh;
  }
  
  .currency-item img {
    align-self: center;
  }
  
  .currency-change {
    color: rgb(207, 91, 3);
  }
  /* CURRENCY */

  .statistics {
    height: 39vh;
    display: flex;
    justify-content: space-between;
  }

  .weather-forecast {
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
